.table {
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}