@import '../assets/styles/general.scss';

.wordCard-container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.wordcard {
    text-align: center;
    justify-content: center;
    align-self: center;
    min-width: 400px;
    max-width: 600px;
    margin-top: 5%;
    border: 3px solid $red;
    border-radius: 3%;
    background-color: white;
    min-height: 200px;

    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(75, 75, 75, 0.2) 0px 2px 8px 0px;
        ;
    }
}