@import '../assets/styles/general.scss';

.button-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.wordButton {
    cursor: pointer;
    background-color: $green;
    color: white;
}